@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html, body {
    font-family: 'Roboto', sans-serif !important;
}
.slide {
    padding: 40% 5%;
    font-family: 'Roboto', sans-serif !important;
}
.slider-message  {
    float: right;
    position: absolute;
    top: 20px;
    right: 26px;
}
.avt {
    --border-radius: 6px;
}
.profile-picture {
    width: 150px;
    border-radius: 6px !important;
    --border-radius: 6px;
    margin-top: 17vh;
}
.h-100{
    height: 100vh;
}
.text-center {
    text-align: center;
}
.secondary-clr {
    color: #ccc;
    --color: #ccc;
}